# ignore everything
*
# whitelist anything that's a directory
!SeeFood/
!SeeFood/*/
!SeeFood/*/src/
!SeeFood/*/src/*/
!SeeFood/*/src/*/util/
!SeeFood/*/src/*/view/
!SeeFood/*/src/*/custom/
!SeeFood/*/src/*/custom/*/
!SeeFood/*/src/*/custom/*/objects/
!SeeFood/*/src/*/custom/*/widgets/
!SeeFood/*/bin/
!SeeFood/*/bin/*/
!SeeFood/*/bin/*/util/
!SeeFood/*/bin/*/view/
!SeeFood/*/bin/*/custom/
!SeeFood/*/bin/*/custom/*/
!SeeFood/*/bin/*/custom/*/objects/
!SeeFood/*/bin/*/custom/*/widgets/
# whitelist the following file types
!*.java
!*.class
!*.png
!*.jar
